<h1>Listado de Heroes</h1>
<hr>

<div class="row">
  <div class="col text-right">
     <button   routerLink="/heroe/nuevo"
        class="btn btn-primary">
        <i class="fa fa-plus"></i> 
        Agregar</button>
  </div>
</div>

<table class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
           <tr>
               <th>#</th>
               <th>Nombre</th>
               <th>Poder</th>
               <th>Vivo</th>
               <th>Herramientas</th>
           </tr>  
    </thead>
    <tbody>
        <tr>
            <td scope="row"> 1</td>
            <td>Batman</td>
            <td>Dinero</td>
            <td>
                <label class="badge bg-success">Vivo</label>
                <label class="badge bg-danger"> Muerto</label>
            </td>
            <td>
                <button> <i class="fa fa-pen"></i> </button>
                <button> <i class="fa fa-trash"></i> </button>
            </td>

        </tr>
    </tbody>
</table>

<div class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay Registros</h4>
    <p>
       <i class="fa fa-exclamantion fa-2x"></i> 
    </p>
</div>

<div class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando</h4>
  <p>
      <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
      Espere por favor
  </p>
</div>
